
<div class="car-list-container">

  <div class="car-card" *ngFor="let car of cars">
    <div class="car-content">
      <div class="car-image-container">
        <img [src]="car.processedImage" alt="car-image">
      </div>

      <div class="car-details">
        <h2 class="car-title">{{car.brand}} - {{car.model}}</h2>
        <p class="car-description">{{car.description}}</p>

        <div class="car-specs">
          <span>Price per day:<b>{{car.pricePerDay}} MAD</b></span>
          <span>License Plate:<b>{{car.licensePlate}}</b></span>
          <span>Year:<b>{{car.year}}</b></span>
        </div>
        <div style="float: right;">
  <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
    routerLink="/customer/book/{{car.id}}">Book</button>
</div>


      </div>
    </div>
  </div>
</div>


