<div style="margin-top: 50px; padding: 40px;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="flex flex-col items-center">
      <h1 class="text-xl font-bold text-gray-800 mb-4 text-center">Update Car</h1>

      <form nz-form [formGroup]="updateForm">
        <div class="pb-6">
          <div class="file-upload-container">
            <label>
              <span>Select a file</span>
              <input type="file" nz-button nzType="primary" (change)="onFileSelected($event)" accept="image/*" />
            </label>

            <div *ngIf="imagePreview" class="image-preview">
              <div class="circle-image">
                <img [src]="imagePreview" alt="imagePreview" class="preview-image" />
              </div>
            </div>

            <div *ngIf="existingImage" class="image-preview">
              <div class="circle-image">
                <img [src]="existingImage" alt="existingImage" class="preview-image" />
              </div>
            </div>
          </div>
        </div>

        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <nz-select formControlName="brand" nzShowSearch nzAllowClear nzPlaceHolder="Select a Brand">
                <nz-option *ngFor="let brand of listOfBrands" nzLabel="{{brand}}" nzValue="{{brand}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <input nz-input placeholder="Model" formControlName="model" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <input formControlName="year" nz-input placeholder="Year of Manufacture" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <input formControlName="licensePlate" nz-input placeholder="License Plate" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <input formControlName="pricePerDay" nz-input placeholder="Price per Day" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <textarea formControlName="description" rows="1" nz-input placeholder="Description"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="updateCar()">
          Update
        </button>
      </form>
    </div>
  </nz-spin>
</div>
