<div style="margin-top: 50px; padding: 40px;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="flex flex-col items-center">
      <h1 class="text-xl font-bold text-gray-800 mb-4 text-center">Search for a Car</h1>

      <form nz-form [formGroup]="searchCarForm">
        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <nz-select formControlName="brand" nzShowSearch nzAllowClear nzPlaceHolder="Select a Brand">
                <nz-option *ngFor="let brand of listOfBrands" nzLabel="{{brand}}" nzValue="{{brand}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <nz-select formControlName="model" nzShowSearch nzAllowClear nzPlaceHolder="Select a Model">
                <nz-option *ngFor="let model of listOfModels" nzLabel="{{model}}" nzValue="{{model}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This Input Is Required">
              <nz-select formControlName="pricePerDay" nzShowSearch nzAllowClear nzPlaceHolder="Select Price per Day">
                <nz-option *ngFor="let price of listOfPricePerDay" nzLabel="{{price}}" nzValue="{{price}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

  

        <button nz-button class="login-form-button login-form-margin w-full" [nzType]="'primary'" (click)="searchCar()">
          Search
        </button>
      </form>
    </div>
  </nz-spin>
</div>

<div class="container mx-auto px-4 bg-gray-100 py-8" *ngIf="cars.length > 0">
  <h1 class="text-xl font-bold text-gray-800 mb-4 text-center">Car List</h1>

  <div class="flex flex-wrap">
    <div class="w-1/4 p-4" *ngFor="let car of cars">
      <div class="bg-white shadow-lg rounded-lg p-4">
        <img [src]="car.processedImage" alt="car" class="w-full h-32 object-cover object-center">

        <div class="mt-4">
          <p class="text-gray-500">{{car.brand}}</p>
          <p class="text-gray-500">{{car.model}}</p>
          <p class="text-gray-500">{{car.pricePerDay}} €</p>
        </div>
      </div>
    </div>
  </div>
</div>
